body{
    height: 600px;
    background-color:lightblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
input{
    width: 90%;
    height: 15%;
    text-align: center;
    border-radius: 5%;
    background-color: white;
    font-size: larger;
    
}
button{
  height: 15%;
  width: 90%;
  background-color: lightblue;
  border-radius: 5%;
  font-size: x-large;

}
.clear{
    clear: both;
}
.input{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    gap: 20px;
    padding: 20px;
}
.output{
    display: flex;
    height: 12%;
    font-size: large;
}
.container{
    margin: auto;
    display: flex;
    height: 70%;
    width: 50%;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
    gap: 5px;
    background-color: #003147;
    border-radius: 5%;
}
.Histórico{
    height: 100%;
    width: 50%;
    border-radius: 5%;
    color: beige;
    text-align: center;
}
.history{
    height: 10%;
    width: 67%;
    margin-top: 20px;
    text-align: center;
    color: beige;
}

